@use '/src/styles/constants/colors';
@use '/src/styles/constants/units';
@use '/src/styles/mixins/flexbox';

.dropdown {
  position: relative;
  width: 100%;
  padding: units.$PADDING_INPUT;
  font-size: units.$FONT_SIZE;
  text-align: start;
  background: colors.$BG_INPUT;
  border-radius: 5px;

  .arrow {
    position: absolute;
    right: 10px;
    height: units.$SIZE_ICON;
  }

  .reverseArrow {
    transform: rotate(180deg);
  }
}
