@use 'src/styles/constants/colors';

.block {
  position: relative;
  background: colors.$BG_BLOCK !important;
  border-radius: 5px;

  .removeButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    font-weight: 600;
    color: colors.$WHITE;
    background: colors.$RED;
    border-radius: 50%;
    transform: translate(50%, -50%);
  }
}
