@use 'src/styles/constants/colors';

.block {
  position: relative;
  background: colors.$BG_BLOCK !important;
  border-radius: 5px;

  .removeButton {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
