@use '/src/styles/constants/colors';
@use '/src/styles/constants/units';
@use '/src/styles/mixins/flexbox';

.input {
  width: 100%;
  height: units.$HEIGHT_INPUT;
  padding: units.$PADDING_INPUT;
  background: colors.$BG_INPUT;
  border-radius: 5px;
}
