@use '/src/styles/constants/colors';
@use '/src/styles/constants/units';
@use '/src/styles/mixins/flexbox';

.fieldset {
  position: relative;
  flex-direction: column;
  width: 100%;

  .label {
    width: 100%;

    .input {
      width: 100%;
      padding: units.$PADDING_INPUT;
      margin-top: 10px;
      background: colors.$BG_INPUT;
    }
  }
}
