@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.button {
  padding: 5px;
  margin: 10px;
  font-size: 16px;
  font-weight: 500;
  color: colors.$WHITE;
  background-color: colors.$BTN_COLOR;
  border-radius: 10px;
  opacity: 1;

  &:disabled {
    color: colors.$WHITE;
    background: colors.$GRAYA;
  }
}
