// Grayscale
$WHITE: #fefefe;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BIG_TITLE: #1f315b;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;

// custom
$TEXT_PRIMARY: #1d1d1f;
$TEXT_SECONDARY: #94a2ad;

$BTN_COLOR: #0fbff0;

$MODAL: #f8f8f8;
$BACKDROP: rgba(0, 0, 0, 50%);
$BG_BLOCK: rgba(255, 255, 255, 80%);
$BACKGROUND: #bbdfff;
$TOOLBOX: #3a335e;
$TOOLBOX_ITEM: #f7f8fa;

$SVG_GRAY: #666666;
$SVG_GRAY_ACTIVE: #5539f1;

$YOUTUBE_INPUT: #ffa8a8;
$YOUTUBE_INPUT_BORDER: #ff8787;

$BT_BASIC: #5539f1;
$TEXT_PURPLE: #5539f1;
$TEXT_EMERALD: #21cc9e;
$HEADER: #eeebff;

$BG_G: #f7f8fa;
$BG_ASIDE: #f8f9fd;
$BG_WHITE: #fefefe;

$BT_WHITE: #f8f8f8;
$BT_SECONDARY: #e5e5f1;

$BORDER: #e5e5f1;

$ERROR: #ea0000;
