// Grayscale
$WHITE: #fefefe;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

// Theme
$TEXT: #1d1d1f;
$TEXT_SECONDARY: #94a2ad;
$TEXT_WHITE: #fefefe;

$BORDER: #e5e5f1;

$MODAL: #f8f8f8;

$SIDEBAR: #8f99bf;

$BTN_COLOR: #0fbff0;

$BACKDROP: rgba(0, 0, 0, 50%);

$BACKGROUND: #bbdfff;
$BG_BLOCK: rgba(255, 255, 255, 80%);
$BG_INPUT: #dddddd;
$BG_INPUT_HOVER: #eeeeee;
$BG_LOADING: #666666;

$LOADING: #dddddd;

$TOOLBOX: rgba(200, 200, 200, 80%);
$TOOLBOX_ITEM: #f7f8fa;

$SVG_GRAY: #666666;
$SVG_GRAY_ACTIVE: #5539f1;

$GOOGLE_SEARCH: #fefefe;
$GOOGLE_SEARCH_BORDER: #aaaaaa;
$YOUTUBE_SEARCH: #ffa8a8;
$YOUTUBE_SEARCH_BORDER: #ff8787;
