@use '/src/styles/mixins/flexbox';

.backdrop {
  @include flexbox.flexbox;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;

  .modal {
    display: flex;
    width: 40%;
    height: 40%;
    background: #fefefe;
  }

  .sidebar {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    padding: 10px 5px;
    background: #dddddd;

    button {
      margin: 5px 0;
      font-size: 24px;
    }

    .targetActive {
      background-color: #fefefe;
    }
  }
}
