@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.toolbox {
  @include flexbox.flexbox;
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 1;
  padding: 10px;
  background: red;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
