@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.warning {
  @include flexbox.flexbox;
  flex-direction: column;
  padding: 20px 40px;

  .message {
    margin: 5px 0 20px;
    font-size: 16px;
  }
}
