@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.warning {
  @include flexbox.flexbox;
  flex-direction: column;
  width: 400px;
  height: 200px;

  p {
    margin-bottom: 50px;
  }
}
