@use '/src/styles/constants/colors';
@use '/src/styles/constants/units';

.button {
  width: units.$SIZE_ICON;
  height: units.$SIZE_ICON;

  svg {
    width: 100%;
    height: 100%;
    fill: colors.$SVG_GRAY;
  }
}
