@use '/src/styles/constants/colors';
@use '/src/styles/constants/units';
@use '/src/styles/mixins/flexbox';

.fieldset {
  position: relative;
  flex-direction: column;

  .label {
    width: 100%;

    .wrapper {
      width: 100%;
      padding: units.$PADDING_INPUT;
      background: colors.$BG_INPUT;
    }
  }
}
