@use 'src/styles/constants/_colors';
@use 'src/styles/mixins/flexbox';

.loadingWrapper {
  @include flexbox.flexbox;
  width: 100%;
  height: 100%;

  .loading {
    width: 50px;
    height: 50px;
    border: 7px solid colors.$GRAYD;
    border-top: 7px solid colors.$GRAY6;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
