@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.toolbox {
  @include flexbox.flexbox(between, center);
  position: absolute;
  top: 50%;
  left: 5%;
  flex-direction: column;
  padding: 10px;
  background: colors.$BG_BLOCK;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}
